
.body{
    padding: 0;
    min-height: 90vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 149, 64);
}

.home{
font-family: Georgia,serif;
}

h1.home{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --animate-duration:2.5s;
    color: rgb(255, 254, 252);
    font: bold;
}

/* footer.css */
footer {
    background-color: #964B00;
    position: absolute;
    bottom: 0;
    margin-top: auto;
    padding: 1rem 5vw;
    text-align: center;
    width: 100%;
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
    color: rgb(0, 0, 0);
  }

